.quiz-list {
    border-collapse: collapse;
}

.quiz-list th,
.quiz-list td {
    border: solid;
}

.quiz-list .content {
    width: 600px;
}

.quiz-list .answer {
    width: 180px;
}

.quiz-list .comment {
    width: 800px;
}

#quiz-list .deletebutton {
    width: 50px;
}

#quiz-list .updatebutton {
    width: 50px;
}

#post-quiz {
    display: flex;
    flex-direction: column;
}

#post-quiz .area {
    display: flex;
}

#post-quiz .area label{
    width: 100px;
}

#post-quiz textarea,
#post-quiz input {
    font-size: 18px;
    width: 800px;
}